div#minusImage.contentHere{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    z-index: 990;
    background: rgba(0, 0, 0, .5);
    display: flex; 
    overflow: hidden;
}

div#minusImage.contentHere img:first-of-type{
    border-radius: none;
    border: none;
    display: inline-block;
    width: 40%;
    height: 254.6px;
    margin-right: 20px;
    margin-top: 0;
    padding: 0;
    border: none;
}

div#minusImage.contentHere img{
    width: 5.85em;
    height: 5.85em;
    display: inline-block;
    border-radius: 1px;
    margin-top: 75px;
    margin-right: 7px;
    padding: 3px;
    border: 2px solid #ccc;
}

div#minusImage.contentHere img:last-of-type{
    margin-right: 0;
}
